---
import Layout from '../layouts/main.astro';
import { LanguageProvider } from '../context/LanguageContext';
import AuditProApp from '../components/AuditProApp';
import Footer from '../components/layout/Footer.jsx';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>OMS Software</title>
	</head>

	<body>
    <Layout title="OMS Software - IT Security Auditing Platform">
       <LanguageProvider client:load>
    		<AuditProApp client:load />
    		 
  		</LanguageProvider>
    </Layout>
	</body>
</html>
